{% extends 'base.html.twig' %}

{% block title %}Sondage{% endblock %}

{% block body %}

    <br>
    <h1 style="margin-left: 30px;">Nos Sondages </h1>
    <br> <br>
        <table class="table table-hover">
            <thead>
                <tr class="table-primary">
                    <th scope="row" style="text-align:center;">Titre </th>
                    <th scope="row" style="text-align:center;">Nombre de participants </th>
                    <th scope="row" style="text-align:center;" >Nombre de questions </th>
                </tr>
            </thead>
            <tbody>
                {% for sondage in sondages %}

                <tr class="primary">
                    <td style="text-align:center;">{{sondage.titre}} </td>
                    <td style="text-align:center;">{{sondage.nbParticipant}}</td>
                    <td style="text-align:center;"> {{sondage.nbQuestion}}  </td>
                    <td style="text-align:center;"> <button class="btn btn-primary"> Répondre </button></td>
                </tr>

                {% endfor %}
            </tbody>
        </table>
  
    
    </article>
<br><br><br>

{% endblock %}
