{% extends 'base.html.twig' %}
{%  block body %}

<h1> Voulez-vous profiter du service Consulting </h1>


<form action="">
    <Button type="submit">Oui</Button>
</form>
    



<form action="{{ path('neww',{'id' :id}) }}">
    <Button type="submit">Non</Button>
</form>
<!--Enqueteur':idEnqueteur , 'idSondage' :idSondage !-->
{% endblock %}
